.container-carrousel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

.container-img-carrousel{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    gap: 25px;
}

.button-div{
    width: 10%;
    margin: 5px;
    display: flex;
    align-items: center;
}

.img-carrousel{
    width: 270px;
    height: 290px;
    border-radius: 30px;
    background-size: cover;
}

.img-botton-carrousel{
    width: 20px;
    height: 20px;
}

.button-carrousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #07052cda;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
}
   

@media (max-width:900px){

    .container-img-carrousel{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

    .button-div{
        display: none;
    }

}