.container-carrousel{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-img-carrousel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.button-div{
    display: flex;
    align-items: center;
}

.img-carrousel{
    width: 500px;
    height: 450px;
    border-radius: 20px;
    background-size: cover;
}

.img-botton-carrousel{
    width: 50px;
    height: 50px;
}

.button-carrousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
}
   

@media (max-width:900px){

    .container-img-carrousel{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

}