
footer{
    width: 100%;
    bottom: 0;
    left: 0;
    background: #272727;
}

footer .content{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,a{
    color: #ffffffb0;
}

.email, .phone{
    text-align: center;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 23px;
    gap: 40px;
}

footer .content .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    width: 50%;
}
  
footer .content .topic{
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color:#ce85e4;
    margin-bottom: 12px;
    text-align: center;
}
  
footer .content p{
    text-align: justify;
}


footer .content .lower .topic{
    margin: 24px 0 5px 0;
}
  
footer .content .lower {
    display: flex;
    flex-direction: column;
    gap:15px
}
  
footer .content .middle{
    padding-top: 30px; 
    display: flex;
    justify-content: center;
}
  
footer .content .middle a{
    line-height: 32px;
}

.img-footer{
    height: 120px;
    width: 170px;
}
  

footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9b6;
    background: rgba(0, 0, 0, 0.616);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}
  
footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #727272;
    background: #000000;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #ba73fc;
    transition: all 0.3s ease-in-out;
}
  
.content .right input[type="submit"]:hover{
    background: none;
    color:  #6ad0ffbd;
}
  
footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}
  

.media-icons{
    display: flex;
    justify-content: space-evenly;
}
  
footer .bottom{
    width: 100%;
    text-align: right;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
}
  
footer .bottom a{
    color: #6adcffc2;
}
  
footer a{
    transition: all 0.3s ease;
}
  
footer a:hover{
    color: #6adcffc2;
}


@media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
}

@media (max-width:950px){
    footer .content .box{
      width: 100%;
    }
    .content .right{
      margin-top: 40px;
    }
}
  
@media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left:0px;
    }
}