@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
}

header{
    background-image: url();
    background-size: cover;
    width: 100%;
} 


.logo {
    height: auto;
    width: 200px;
    padding: 2px;
}

.contenedor {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}


.menu {
    background-image: url(../../public/img/bg-header.jpg);
    color: #fff;
    width: 100%;
    background-color: #75c9b79a;
    z-index: 100;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3px;
}

.menu__links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item {
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link {
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover {
    background-color: #abd699;
}


.menu__arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #c7ddcc;
}

.menu__link--inside {
    padding: 10px 40px 10px 20px;
}

.menu__link--inside:hover {
    background-color: #ffe26a;
}

.menu__hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img {
    display: block;
    width: 36px;
}

.menu__nohamburguer {
    display: flex;
}

.flex {
    display: flex;
}


@media (max-width:800px) {
    .menu__hamburguer {
        display: flex;
        flex-direction: column;
    }

    .menu__nohamburguer {
        display: none;
    }
}